.top {
    font-family: Helvetica;
    font-size: 20px;
    text-align: center;
    margin: 0px 10px 10px 10px;
    color: black;
}

.header_image {
    width: auto;
    height: auto;
    float: left;
    position: relative;
    padding-left: 11px;
    padding-top: 5px;
}

#loginButton {
    border-radius: 10px;
    width: 100px !important;
    font-size: 15px;
}

.orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    text_align: center;;
}

.rosy {
    color: #fae7e9;
    border: solid 1px #b73948;
    background: #da5867;
}

.mainheader {
    float: left;
    font-size: 25px;
    width: 275px;
    line-height: 33px;
    color: orange;
    margin-top: 28px;
    text-align: left;
    height: 97px
}

.green {
    color: #e8f0de;
    border: solid 1px #538312;
    background: #64991e;
}

#full-screen-background-image {
    z-index: -999;
    min-height: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

#wrapper {
    position: relative;
    width: 50px;
    min-height: 40px;
    color: #333;
}
